clientApp.0.main=net.i2p.itoopie.plugin.Itoopie
clientApp.0.name=itoopie
clientApp.0.delay=0
clientApp.0.startOnLoad=true
clientApp.0.classpath=$PLUGIN/lib/itoopie-plugin.jar,$PLUGIN/lib/itoopie.jar,$PLUGIN/lib/commons-logging.jar,$PLUGIN/lib/jchart2d.jar,$PLUGIN/lib/json-smart.jar,$PLUGIN/lib/xmlgraphics-commons.jar
